<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head-links(title=${manager.id == null ? 'Create Manager' : 'Edit Manager'})}"></head>

<body>
<div class="d-flex">
    <div th:replace="~{fragments :: sidebar}"></div>

    <div class="container-fluid p-4">

        <h1 th:text="${manager.id == null ? 'Create New Manager' : 'Edit Manager'}">Formular Manager</h1>

        <form th:action="@{/manager}" th:object="${manager}" method="post" class="col-md-6">

            <input type="hidden" th:field="*{id}" />

            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" />
                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>

            <div class="mb-3">
                <label for="employeeCode" class="form-label">Employee Code:</label>
                <input type="text" id="employeeCode" th:field="*{employeeCode}" class="form-control" />
                <span class="text-danger" th:if="${#fields.hasErrors('employeeCode')}" th:errors="*{employeeCode}"></span>
            </div>

            <div>
                <button type="submit" class="btn btn-success me-2"
                        th:text="${manager.id == null ? 'Save Manager' : 'Update Manager'}">
                    Save
                </button>
                <a th:href="@{/manager}" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{fragments :: body-scripts}"></div>
</body>
</html>