<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head-links(title=${driver.id == null ? 'Create Driver' : 'Edit Driver'})}"></head>

<body>
<div class="d-flex">
    <div th:replace="~{fragments :: sidebar}"></div>

    <div class="container-fluid p-4">

        <h1 th:text="${driver.id == null ? 'Create New Driver' : 'Edit Driver'}">Formular Driver</h1>

        <form th:action="@{/driver}" th:object="${driver}" method="post" class="col-md-6">

            <div th:if="${globalError}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                <span th:text="${globalError}">Error message</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <input type="hidden" th:field="*{id}" />

            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" />
                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>

            <div class="mb-3">
                <label for="licenseAcquiredDate" class="form-label">License Acquired Date:</label>
                <input type="date" id="licenseAcquiredDate" name="licenseAcquiredDate"
                       th:value="${driver.licenseAcquiredDate != null ? #temporals.format(driver.licenseAcquiredDate, 'yyyy-MM-dd') : ''}"
                       class="form-control" />
                <span class="text-danger" th:if="${#fields.hasErrors('licenseAcquiredDate')}" th:errors="*{licenseAcquiredDate}"></span>
            </div>

            <div>
                <button type="submit" class="btn btn-success me-2"
                        th:text="${driver.id == null ? 'Save Driver' : 'Update Driver'}">
                    Save
                </button>

                <a th:href="@{/driver}" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{fragments :: body-scripts}"></div>
</body>
</html>